<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TestTask</title>
        <meta content='width=device-width,initial-scale=1' name='viewport'>
    </head>
    <body>
        <h1>Message#input</h1>
        <form action="" accept-charset="UTF-8" method="get">
            <table>
                <tr>
                    <td><label for="Input id:">Input ID:</label></td>
                    <td><input type="text"/></td>
                </tr>
        </table>
        <input type="submit" name="commit" value="Submit" data-disable-with="Submit" />
    </form>
    </body>
</html>